




pre {
	white-space:pre-wrap;       /* css-3 */
	white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
}






.header {
    border: solid 2px #ccc;
    position:relative;
    margin-top: 0px;
    margin-left: 5px;
    margin-right:5px;
    padding:10px;

    min-width:300px;
    -moz-transition-duration:0.6s;
    transition-duration:0.6s;

}






.main
{

    /*border:20px solid rgba(0,0,0,.6); */
     width: 100%;    
    padding:1px;
    
    position:relative;
    min-width:300px;
     display:inline-block;    
    -moz-transition-duration:0.6s;
    transition-duration:0.6s;
  
   

   
    
}



#footerStatus
{
    position:fixed;
    bottom:6px;
    width:100%;
    margin:auto;
    height:80px;
  background:rgba(0,0,0,.6);
 text-align:center;
/* margin-left:20px;*/

font-family:goodtimes;
	border-radius:15px;

}



.footbox { 
	/*background:#444; background:rgba(0,0,0,.6);*/
	padding:0px;

	margin-bottom:0 px;
   
	
}



.dimmed {opacity:.7;}

.footer-text {
    padding:0 20px;
    font-size:.9em;
    font-style:italic;
    opacity:.8;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}







#settings
{

    display:none;
    /*background-color: rgba(215, 40, 40, 0.8);*/
    background-color:#000;
    color:#fff;
    width:700px;
    margin:auto;
    height:300px;

    border:2px solid;
    border-radius:25px;
    font-size:24px;
     font-family:arial;
    padding:15px;
  position:absolute;
left:610px;
    top:50px;
     z-index:10;
}


#btv
{
    font-family:btv;
    width:20%;
    padding-top:15px;
    font-size:50px;
    float:left;
    color:#ccc;
    /*margin-left:70px;*/
    text-align:center;
    /* border: 2px solid white;*/

}


#weatherbar
{
    text-align:center;
    width:25%;
    padding-top:2px;
    padding-left:15px;
    float:left;
    /*border: 1px solid white;*/

}








#newsbar
{
    float:left;
    /*border: 1px solid white;*/

}


.statusbar
{
    font-family:arial;
    font-size:24px;
    color:#fff;
}




.ui-effects-wrapper 
{
    display: inline-block;
}





#adContainer1 {

display:inline-block;
/*display: inline-flex;*/

width:100%;
 padding-top: 0px;

 height:900px; 
 overflow:auto; 
border: 3px dotted red;
padding-bottom: 60px;

}






.adContainerCls {

     display:inline-block;
 padding-top:0px;
   
}


.canvasqrcode {
 
position:absolute;
right: 5px;
bottom: 5px;
 
}







.adboxShadow 
{
box-shadow: 10px 10px 5px rgba(136,136,136,.5);
}





.adboxOpacity
{
opacity:0.8;
}


.adboxColor
{
 background-color: #D0E17D;
 
}



.adboxGradient
{
    background-image: linear-gradient(45deg,yellow,#f06d06);
}



.adboxBorder
{
    border:4px solid;
}


.adboxContentClass 
{
 /*border: dotted 3px red;*/
 /*padding-top: 25px;*/
 
}






.inner {
 margin-top:50px;
 margin-bottom:auto;
 width:90%
}




li
{
   /* font-family:Verdana,serif;
    font-size:14px;
    color:#fff;
    */
}




#mediabox
 
{
display: inline-block;
position:fixed;
right: 15px;
bottom: 65px;
width:600px;
height:300px;
background-color:silver;
padding:30px;
 
}


